.Conteiner__TituloCertificados {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.Conteiner__TituloCertificados svg {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.55rem 0.55rem 0;
}

.Conteiner__Certificados {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-left: 8%;
  width: 80%;
}

.CursoemVideo {
  width: 50%;
  margin-left: 23%;
}

.Img__Certificado {
  border-radius: 8%;
  width: 100%;
}

.Itens__Certificados {
  border-radius: 8%;
  margin: 0.75rem;
}

.Img__Certificado:hover {
  transition: all 1s;
  transform: scale(2.5);
}

.Secao__Certificados {
  align-items: center;
  background: linear-gradient(black, black);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 900px;
}

.Titulo__Certificados {
  border-bottom: 1px solid white;
  color: aliceblue;
  font-size: 2rem;
}

.udemy {
  border-radius: 8%;
  width: 98%;
}

@media screen and (max-width: 1920px) {
  ul{
    width:96%;
  }
  .borda{
    width: 100%;
  }

  .Secao__Certificados {
    align-items: center;
    background: linear-gradient(black, black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 800px;
  }
  .Img__Certificado{
    width: 220px;
    height: 180px;
 
  
  }
  .borda {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 6em 0;
  }
  .Conteiner__Certificados {

    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    

    
  }
  
    .Img__Certificado:hover {
    transition: all 1s;
    transform: scale(1.5);
  }

  .Itens__Certificados {
    cursor: pointer;
    width: 160px;
  }

  .Titulo__Certificados {
    font-size: 38px;
  }
      
 
  }
@media screen and (max-width: 1680px) {
  ul{
    width:96%;
  }
  .borda{
    width: 100%;
  }

  .Secao__Certificados {
    align-items: center;
    background: linear-gradient(black, black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 800px;
  }
  .Img__Certificado{
    width: 160px;
    height: 140px;
 
  
  }
  .borda {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 6em 0;
  }
  .Conteiner__Certificados {

    display: grid;
    grid-template-columns: repeat(5,0fr);
    justify-content: center;
    align-items: center;
    

    
  }
    .Img__Certificado:hover {
    transition: all 1s;
    transform: scale(1.5);
  }

  .Itens__Certificados {
    cursor: pointer;
    width: 160px;
  }

  .Titulo__Certificados {
    font-size: 38px;
  }
      
 
  }
@media screen and (max-width: 1649px) {
  ul{
    width:96%;
  }
  .borda{
    width: 100%;
  }

  .Secao__Certificados {
    align-items: center;
    background: linear-gradient(black, black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 800px;
  }
  .Img__Certificado{
    width: 160px;
    height: 140px;
 
  
  }
  .borda {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 6em 0;
  }
  .Conteiner__Certificados {

    display: grid;
    grid-template-columns: repeat(5,0fr);
    justify-content: center;
    align-items: center;
    

    
  }
    .Img__Certificado:hover {
    transition: all 1s;
    transform: scale(1.5);
  }

  .Itens__Certificados {
    cursor: pointer;
    width: 160px;
  }

  .Titulo__Certificados {
    font-size: 38px;
  }
      
 
  }
  @media screen and (max-width: 1366px) {
    ul{
      width:96%;
    }
    .borda{
      width: 100%;
    }
  
    .Secao__Certificados {
      align-items: center;
      background: linear-gradient(black, black);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 800px;
    }
    .Img__Certificado{
      width: 160px;
      height: 140px;
   
    
    }
    .borda {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 0 6em 0;
    }
    .Conteiner__Certificados {
  
      display: grid;
      grid-template-columns: repeat(5,0fr);
      justify-content: center;
      align-items: center;
      
  
      
    }
      .Img__Certificado:hover {
      transition: all 1s;
      transform: scale(1.5);
    }
  
    .Itens__Certificados {
      cursor: pointer;
      width: 160px;
    }
  
    .Titulo__Certificados {
      font-size: 38px;
    }
   
  }
  @media screen and (max-width: 1360px) {
    ul{
      width:96%;
    }
    .borda{
      width: 100%;
    }
  
    .Secao__Certificados {
      align-items: center;
      background: linear-gradient(black, black);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 800px;
    }
    .Img__Certificado{
      width: 160px;
      height: 140px;
   
    
    }
    .borda {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 0 6em 0;
    }
    .Conteiner__Certificados {
  
      display: grid;
      grid-template-columns: repeat(5,0fr);
      justify-content: center;
      align-items: center;
      
  
      
    }
      .Img__Certificado:hover {
      transition: all 1s;
      transform: scale(1.5);
    }
  
    .Itens__Certificados {
      cursor: pointer;
      width: 160px;
    }
  
    .Titulo__Certificados {
      font-size: 38px;
    }
   }
  

@media screen and (max-width: 1024px) {
  ul{
    width:96%;
  }
  .borda{
    width: 100%;
  }

  .Secao__Certificados {
    align-items: center;
    background: linear-gradient(black, black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 800px;
  }
  .Img__Certificado{
    width: 160px;
    height: 140px;
 
  
  }
  .borda {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 6em 0;
  }
  .Conteiner__Certificados {

    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    

    
  }
    .Img__Certificado:hover {
    transition: all 1s;
    transform: scale(1.5);
  }

  .Itens__Certificados {
    cursor: pointer;
    width: 160px;
  }

  .Titulo__Certificados {
    font-size: 38px;
  }
}
@media screen and (max-width: 768px) {
  ul{
    width: 100%;
 
 
  }
  .CursoemVideo {
    width: 0%;
    margin-left: 0%;
  }
  .Conteiner__Certificados {

    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    

    
  }

  .Secao__Certificados {
    background: linear-gradient(black, black);
    background-size: cover;
    width: 100%;
    height: 900px;
    

  }

  .borda {
  
    display: flex;
    margin: 0;
    width: 0%;
  }
  .Conteiner__TituloCertificados{

    padding: 0.55rem 0.55rem 0;
    margin: 0 0 0 2.5rem;
  }
  .Img__Certificado{
    width: 130px;
    height: 120px;
    margin: 1px;
  
  }


  .Itens__Certificados {
    cursor: pointer;

    width: 90%;
    margin-left: -11%;
 

  }

  .Titulo__Certificados {
    font-size: 20px;
  }
  .Img__Certificado:hover {
    transition: all 1s;
    transform: scale(1.5);
  }
}


@media screen and (max-width: 425px) {
  ul{
    width: 100%;
 
 
  }
  .CursoemVideo {
    width: 0%;
    margin-left: 0%;
  }
  .Conteiner__Certificados {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    

    
  }

  .Secao__Certificados {
    background: linear-gradient(black, black);
    background-size: cover;
    width: 100%;
    height: 1400px;
    

  }

  .borda {
  
    display: flex;
    margin: 0;
    width: 0%;
  }
  .Conteiner__TituloCertificados{

    padding: 0.55rem 0.55rem 0;
    margin: 0 0 0 1.8rem;
  }
  .Img__Certificado{
   
    width: 160px;
    height: 150px;
    margin: 1px;
  
  }


  .Itens__Certificados {
    cursor: pointer;

    width: 80%;
    margin-left: -11%;
 

  }

  .Titulo__Certificados {
    font-size: 20px;
  }
  .Img__Certificado:hover {
    transition: all 1s;
    transform: scale(1.2);
  }
}

@media screen and (max-width: 375px) {
  ul{
    width: 100%;
 
 
  }
  .CursoemVideo {
    width: 0%;
    margin-left: 0%;
  }
  .Conteiner__Certificados {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    

    
  }

  .Secao__Certificados {
    background: linear-gradient(black, black);
    background-size: cover;
    width: 100%;
    height: 1200px;
    

  }

  .borda {
  
    display: flex;
    margin: 0;
    width: 0%;
  }
  .Conteiner__TituloCertificados{

    padding: 0.55rem 0.55rem 0;
    margin: 0 0 0 2.5rem;
  }
  .Img__Certificado{
    width: 140px;
    height: 120px;
    margin: 8px;
  
  }


  .Itens__Certificados {
    cursor: pointer;

    width: 90%;
    margin-left: -11%;
 

  }

  .Titulo__Certificados {
    font-size: 20px;
  }
  .Img__Certificado:hover {
    transition: all 1s;
    transform: scale(1.2);
  }
}
@media screen and (max-width: 320px) {
   ul{
    width: 100%;
 
 
  }
  .CursoemVideo {
    width: 0%;
    margin-left: 0%;
  }
  .Conteiner__Certificados {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    

    
  }

  .Secao__Certificados {
    background: linear-gradient(black, black);
    background-size: cover;
    width: 100%;
    height: 1200px;
    

  }

  .borda {
  
    display: flex;
    margin: 0;
    width: 0%;
  }
  .Conteiner__TituloCertificados{

    padding: 0.55rem 0.55rem 0;
    margin: 0 0 0 2.5rem;
  }
  .Img__Certificado{
    width: 120px;
    height: 104px;
    margin: 8px;
  
  }


  .Itens__Certificados {
    cursor: pointer;

    width: 80%;
    margin-left: -11%;
 

  }

  .Titulo__Certificados {
    font-size: 20px;
  }
  .Img__Certificado:hover {
    transition: all 1s;
    transform: scale(1.2);
  }
}


